web/uploads/*
web/log/backend_dev.log
web/log/backend_prod.log
web/log/public_dev.log
web/log/public_prod.log
web/config/databases.yml
web/config/darwin.yml
web/config/app.yml
web/cache/*
data/feed/*.xml
date/stats/*.yml
log/*
!log/.gitignore
./.gitignore
apps/public/config/databses.yml
*~
*.*~
*.kate-swp
